@tailwind base;
@tailwind components;
@tailwind utilities;


.header{
    display:flex;
    justify-content: space-around; 
    border: 1px solid black;
    background-color: rgb(74, 66, 66);
    user-select: none;
}
.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width:130px;
}

.nav-items > ul{
    display:flex;
    list-style-type: none;
    font-size: 25px;
    font-weight: 700;
    color: white;
    gap: 70px;
}
.nav-items > ul > li{
    padding: 5px;
    /* margin: 10px; */
    
}
.Link{
    color:white;
    text-decoration: none; 
}
.CardLink{
    color:black;
    text-decoration: none; 
}
.SearchBar{
    padding:10px;

}
.res-card{
    width:200px;
    height:370px; 
    background-color: #f0f0f0;
    padding: 10px;
}
.res-card:hover{
    border:1px solid black;
    cursor: pointer;
}
.res-logo{
    width:190px;
    height:190px;
    padding: 5px;
}
.res-Container{
    display: grid;
    column-gap: 200px;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shimmer.Container{
    display: grid;
    column-gap: 200px;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;

}
.shimmer-card{
    width:200px;
    height:370px; 
    background-color: #f0f0f0;
    padding: 10px;

}
.login-btn{
    padding: 0 20px ;
    cursor: pointer;
}
.Search-Bar{
    display: flex;
    
}

/* css for about page */
.Wrapper{
    margin: 0;
    padding: 0;
}
.about-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.about-body{
    display: flex;
    justify-content:center;
    gap:50px
   
}
.about-desc{
    width: 300px;
    height: 120px;

}